.bottomLine{
    border-bottom:1px solid var(--light_gray);
    padding-bottom: 1%;
}

/*******************************************/

#profilrCard p , #aboutMe span , #Social_Link i , #downloadCV i{
    color: var(--light_gray);
}
.activeLanguagePage , .activeLanguagePage span{
    background-color: var(--orange) !important;
    color: var(--dark_blue) !important;
}

/***************************************************/

#personalInfo{
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width:300px;
}
#profileCard{
    background-color: var(--light_blue);
    gap: var(--gap);
    height: 250px;
}
#logo{
    width: 120px;
    height:120px;
    padding-right:5px;
    padding-left:5px;
}
#profileCard h1{
    font-size:30px;
}

/***************************************************/

#aboutMe{
    height: calc(100vh - 250px - 45px);
    overflow-y: overlay;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
#aboutMe > div{
    padding-top: 25px;
    padding-bottom: 10px;
}
#aboutMe > div > *{
    margin-bottom: 10px;
}
#aboutMe label{
    font-weight: bolder;
    margin-right: 8px;
}

/***************************************************/

#aboutMe #languages .language{
    position:relative ;
    margin-right:3rem;
    text-align: center;
}
#aboutMe #languages .circle{
    border-radius: 50%;
    width: 60px;
    padding-top: 13px;
    padding-bottom: 17px;
    background: conic-gradient(from 0 at var(--valPercentage), var(--orange) var(--valPercentage), var(--light_blue) var(--valPercentage));
}
#aboutMe #languages .circle::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 53px;
    top: 2px;
    left: 3px;
    height: 55%;
    background-color: var(--dark_blue);
}
#aboutMe #languages .circle .percentage{
    position: relative;
    z-index: 10000;
    display: inline-block;
    margin-top: 5px;
}

/***************************************************/

#aboutMe #skills input[type='range']{
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 4px; 
  outline: none;
  transition: background 0.3s ease;
}

#aboutMe #skills input[type='range']::-webkit-slider-runnable-track {
  background: linear-gradient(to right, var(--orange) var(--valRange),var(--light_blue) var(--valRange));
  height: 8px;
  border-radius: 4px;
}

#aboutMe #skills input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%;
  background: var(--orange);
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#aboutMe #skills input[type='range']::-moz-range-thumb {
  width: 100%;
  height: 30px;
  background: var(--orange);
  border: none;
  cursor: pointer;
}

/***************************************************/

#aboutMe #skills #otherSkills i{
    font-weight: bolder;
    color: var(--orange);
}

